.container {
  display: grid;
  grid-template-columns: repeat(16, 40px);
  grid-template-rows: repeat(16, 40px);
  grid-auto-flow: column;
  // grid-gap: 10px;
  margin: 2rem;
}

.bloop-false {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  border: solid;
  width: 40px;
  height: 40px;
  // margin-bottom: 5px;
  background: gray;
}